<div class="col-xs-12">
		<div class="media">
			<div class="media-left">
				<img class="media-object" data-ng-src="resources/image/products/{{product.id}}.jpg" alt="Image">
				<span class="maskingImage"><a data-toggle="modal"
					href=".quick-view" class="btn viewBtn">Quick View</a></span>
			</div>
			<div class="media-body">
				<div class="col-xs-10 content-wrap">
					<h4 class="media-heading">
						<a href="SingleProduct">{{product.name}}</a>
					</h4>
					<p>{{product.description}}</p>
					<h3>${{product.price}}</h3>
					<div class="btn-group" role="group">
						
						<button type="button" class="btn btn-default"
							data-ng-click="location.href='/ShoppingCart/AddToCart?id={{product.id}}';">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<div class="col-xs-2">
					<i class="fa fa-times">{{product.quantity}}</i>
				</div>
			</div>
		</div>
	</div>

